<div id="header">
  <ul class="nav">
    <li type="button"><a href="/homepageAdmin">Inicio</a></li>
    <li type="button"><a href="/edit">Editar</a></li>
    <li type="button"><a href="/pedidos">Pedidos</a></li>
    <li type="button"><a href="admin">Admin</a></li>

  </ul>
</div>
