<div id="header">
  <ul class="nav">
    <li type="button"><a href="/homepageAdmin">Inicio</a></li>
    <li type="button"><a href="/login">Login</a></li>
    <li type="button"><a href="/edit">Editar</a></li>
    <li type="button"><a href="/pedidos">Pedidos</a></li>
    <li type="button" id="logout"><a href="/login">Cerrar sesion</a></li>
  </ul>
</div>
