<div id="login" class="container">
  <form method="post" action="login.ejs" class="nav">
    <label for="user_name">Usuario</label>
    <input type="text" placeholder="Ingrese nombre de usuario" name="user_name">
    <br>
    <label for="user_pass">Contraseña</label>
    <input type="password" placeholder="Ingrese contraseña" name="user_pass">
    <br>
    <button type="submit">Ingresar</button>
  </form>
</div>
