<!-- BARRA SUPERIOR CONDICIONADA POR USUARIO  -->
    <div id="header">
      <ul class="nav">
        <li type="button"><a href="/">Inicio</a></li>
        <li type="button"><a href="/edit">Editar Menu</a>
          <ul>
            <li type="button"><a href="">Agregar al menu</a></li>
            <li type="button"><a href="">Quitar del menu</a></li>
          </ul>
        </li>
        <li type="button"><a href="/pedidos">Pedidos</a></li>
        <li type="button"><a href="">Admin</a>
          <ul>
       <!-- <li type="button"><a href="/new_user">Agregar/Quitar usuario</a></li> -->
            <li type="button"><a href="">Presencia</a></li>
            <li type="button"><a href="">Balance</a></li>
          </ul>
        </li>
        <li type="button" id="user_info"><a href="">Juan Palacio
           <!--
            <%=
            //  req.session.user.name
            %> <%=
             // req.session.user.lastname
            %>
            -->
          </a>
          <ul>
            <li type="button" id="logout"><a href="/logout">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
<!--
FIN DE LA BARRA
-->


<!--
FORMULARIO DE CREACION DE USUARIO
-->

<div class="New_user_form">
<div class="one">
  <form method="post" action="/new_user" class="nav">
    <label>Usuario</label>
    <input type="text" placeholder="Ingrese el nombre de usuario" name="user_name">
    <br>
    <label>Nombre</label>
    <input type="text" placeholder="Ingrese el nombre" name="name">
    <br>
    <label>Apellido</label>
    <input type="text" placeholder="Ingrese el apellido" name="lastname">
    <br>
    <label>Contrase単a</label>
    <input type="password" placeholder="Ingrese contrase単a" name="user_pass">
    <br>
    <label>Confirme Contrase単a</label>
    <input type="password" placeholder="Confirme contrase単a" name="confirmation">
    <br>
    <label>Administrador <input type="radio" name="hierarchy" id="admin_input" value="admin"></label><br>
    <label>Empleado     <input type="radio" name="hierarchy" id="employed_input" value="employed"></label><br>
    <button type="submit">Crear usuario</button>
    <input type="hidden" name="_csrf" value="<%= _csrf %> /">
  </form>
</div>
</div>
<!--
FIN FORMULARIO DE CREACION DE USUARIO
-->
